.research-detail {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.image-carousel {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.image-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

h1 {
  font-size: 32px;
  margin-top: 20px;
}

.post-meta {
  font-size: 14px;
  color: #757575;
  margin-bottom: 20px;
}

.post-content {
  font-size: 18px;
  line-height: 1.6;
}

/* Add styles for the back button */
.back-button {
  padding: 10px 20px;
  background-color: transparent; /* Or a color of your choice */
  color: white;  /* Or another suitable color */
  border: 1px solid transparent; /* Transparent border initially */
  border-radius: 0px; /* Rounded corners (optional) */
  cursor: pointer;
  font-size: 1.2rem;
  margin-bottom: 20px; /* Add some space below the button */
  align-self: flex-start; /* Align to left */
  position: relative; /* For underline effect */
  transition: all 0.3s ease; /* Smooth transitions */
}


.back-button::after {  /* Underline effect similar to header */
    content: "";
    position: absolute;
    bottom: -2px;  /* Adjust to fine-tune underline position */
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white; /* Underline color */
    transition: width 0.3s ease, left 0.3s ease; /* Smooth animation */
}

.back-button:hover::after, .back-button:focus::after {
    width: 100%;
    left: 0;
}

.back-button:hover {
    border-color: white; /* Border on hover */
}