.research-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: lowercase;
}

.featured-post {
  margin-bottom: 40px;
}

.featured-post .research-post {
  display: flex;
  flex-direction: column;
}

.featured-post .post-image-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.featured-post .post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.research-post {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: row;
}

.post-image-container {
  width: 33.33%;
  height: 200px;
  overflow: hidden;
}

.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-content {
  padding: 0 0 0 20px;
  width: 66.67%;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.post-description {
  font-size: 14px;
  line-height: 1.4;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.pagination button.active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
  .research-post {
    flex-direction: column;
  }

  .post-image-container {
    width: 100%;
    height: 200px;
  }

  .post-content {
    width: 100%;
    padding: 10px 0 0 0;
  }
}
